/*Mobile/General*/
#weekly-menu-list{

    margin:  auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    grid-gap: 5px;
}
header{
    grid-area: header;
    
    background-color: white;
}
main{
    grid-area: main;
    padding: 10px;
    background-color: white;

}
aside{
    grid-area: sidebar;
    padding: 10px;
    background-color: white;
    text-align: center;
}
footer{
    grid-column: footer;
    padding: 10px;
    background-color: white;
}

body {
    font-family: sans-serif;
    background: #c9ecc4;
    line-height: 1.5;
    padding: 30px;

}
h1{
    font-family: Serif;
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 35px;
    text-align: center;

}
li{
    font-weight: bold;
    flex-direction: column;
}

ul{
    list-style-type: none;

}
input{
    padding: 4px 6px;
    border: 1px solid #6b6a6a;
    border-radius: 6px;
}
aside input{
    width: 80%;
    padding: 4px 6px;
    border: 1px solid #6b6a6a;
    border-radius: 6px;
}
p{
    font-family: sans-serif;
}

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.start_img{
    max-width: 100%;
    height: 120px;
}
.main_img{
    max-width: 100%;
    height: 300px;
    flex: auto;
    padding-top: 30px;


}
.rounded{
    border-radius: 10px;
}

/*Desktop/tablet*/
@media screen and (min-width: 768px) {

    #weekly-menu-list{
        margin: auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            ". header"
            "sidebar main"
            ". footer";
        grid-gap: 20px;
    }

    header{
        grid-area: header;
        padding: 0px;

    }
    main{
        grid-area: main;
        grid-column: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        padding: 20px;

    }
    aside{
        grid-area: sidebar;
        padding: 20px;

    }
    footer{
        grid-column: footer;
        width: auto;


    }

    li{
        margin: 12px;
        font-weight: bold;

    }
    .list{
        flex-direction: row;
    }
    .main_img {
        max-width: 100%;
        height: 700px;
        padding: 70px;
        flex: auto;
    }
    .button {

        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

}